Repository openhealthcare/elcid-rfh, pull requests merged in 2023-05, with the labels that each got.

#1465 Previous mrn modal fix 1
  elcid/templates/partials/_item_created_updated_by.html
Labels: Cerner Merge

#1425 Changes transfer history/encounter batch loads
  plugins/admissions/loader.py
  plugins/admissions/tests/test_loader.py
Labels: Cerner Merge

#1462 Log before and after merge
  intrahospital_api/merge_patient.py
  intrahospital_api/test/test_merge_patient.py
Labels: Cerner Merge

#1469 Adds IPC logging
  elcid/settings.py
  plugins/ipc/__init__.py
  plugins/ipc/management/commands/load_ipc_status.py
Labels: RFH-108

#1468 Updates the api call and comments on update tagging
  intrahospital_api/merge_patient.py
  intrahospital_api/test/test_merge_patient.py
Labels: Code Review

#1470 Send email util
  elcid/management/commands/check_disk_space.py
  elcid/settings.py
  elcid/test/test_check_disk_space.py
  elcid/test/test_utils.py
  elcid/utils.py
  intrahospital_api/management/commands/batch_load2.py
  intrahospital_api/management/commands/feed_alert_email.py
Labels: Cerner Merge, RFH-108

#1466 Adds in a merge_dup_episode_categories mgmt command
  intrahospital_api/management/commands/merge_dup_episode_categories.py
Labels: Cerner Merge

#1454 New patient demographics search with merged mrn
  elcid/api.py
  elcid/pathways.py
  elcid/settings.py
  elcid/test/test_api.py
  elcid/test/test_pathways.py
  intrahospital_api/loader.py
  intrahospital_api/test/test_loader.py
Labels: Cerner Merge

#1460 Removes BloodCultureHistory
  elcid/migrations/0069_delete_positivebloodculturehistory.py
  elcid/models.py
  elcid/templates/forms/positive_blood_culture_history_form.html
  elcid/test/test_models.py
  elcid/test/test_status_report.py
  intrahospital_api/merge_patient.py
Labels: RFH-108

#1428 Adds a check management command to make sure our merging is working
  plugins/monitoring/management/commands/check_merged_patients.py
  plugins/monitoring/tests/test_check_merged_patients.py
Labels: Cerner Merge

#1463 Changes create_tb_observations to always run for all time
  plugins/tb/management/commands/create_tb_observations.py
  plugins/tb/tests/test_create_tb_observations.py
Labels: RFH-109

#1473 To location str
  plugins/admissions/models.py
  plugins/admissions/tests/test_models.py
  plugins/tb/views.py
Labels: RFH-109

#1478 Fixup: TB model flags
  plugins/tb/models.py
Labels: RFH-109

#1474 Adds the reload_patients management command
  intrahospital_api/management/commands/reload_patients.py
  intrahospital_api/test/test_reload_patients_command.py
Labels: RFH-109

#1476 Patients name in modal
  plugins/tb/static/js/tb/controllers/tb_mdt_no_action.js
  plugins/tb/templates/tb/mdt_list.html
  plugins/tb/templates/tb/mdt_no_action_modal.html
Labels: RFH-109

#1477 Makes the patients name appear in tb medications and other medications
  plugins/tb/templates/modals/other_medication.html
  plugins/tb/templates/modals/tb_medication.html
Labels: RFH-109

#1482 Read only edit isotopes
  elcid/templates/panels/blood_culture_set.html
Labels: Permissions

#1483 Read only timeline
  elcid/templates/inline_forms/clinical_timeline_base.html
  plugins/rnoh/templates/detail/rnoh.html
  plugins/tb/templates/detail/tb.html
Labels: Permissions

#1481 Changes the teams panel so read only users cannot edit it.
  elcid/templates/_helpers/teams_panel.html
Labels: Permissions

#1484 Make sure that readony users can't add patients from empty patient lists
  elcid/templates/episode_list.html
Labels: Permissions

#1486 Makes read only users unable to interact with the TB review list
  plugins/tb/templates/partials/tb_appointments.html
Labels: Permissions

#1490 Makes the service menu not editable by read only users
  elcid/templates/patient_detail.html
Labels: Permissions

#1489 Changes the record timeline to work for read only users
  elcid/templates/_helpers/record_timeline.html
Labels: Permissions
